<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'face/style.css' %}" />
        <meta charset="utf-8"/>
        <title>Yet Another Book Search</title>
    </head>
    <body>
        <h1>Yet Another Book Search</h1>

        <form action="{% url 'face:index' %}" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="search" id="search" value="{{ search_text }}"/>
                <input type="submit" value="Search" />
            </div>
        </form>

        {% if error_message %}
            <div class="error">{{ error_message }}</div>
        {% endif %}

        {% if book_items %}
            <ul>
            {% for book_item in book_items %}
                <li><a href="{{ book_item.download_link }}"><i>{{ book_item.authors }}</i>&nbsp;
                    {{ book_item.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            {% if search_text %}
                <div class="error">Sorry, nothing found</div>
            {%endif %}
        {% endif %}
    </body>
</html>