<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'face/style.css' %}" />
        <title>Yet Another Book Search</title>
    </head>
    <body>
        <h1>Yet Another Book Search</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'face:index' %}" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="search" id="search"/>
                <input type="submit" value="Search" />
            </div>
        </form>

        {% if book_items %}
            <ul>
            {% for book_item in book_items %}
                <li><a href="{{ book_item.link }}">{{ book_item }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="error">Sorry, nothing found</div>
        {% endif %}
    </body>
</html>